form.card {
  margin: 1em;
}

label[for="data"] {
  display: block;
  margin: 15px 10px;
}

textarea {
  width: 100%;
  display: block;
  padding: 0.5em;
  margin: 0;
  border: 2px solid;
  font: inherit;
  tab-size: 2em;
  box-sizing: border-box;
  resize: vertical;
}
